---
import Layout from '../layouts/Layout.astro';
import '@patternfly/patternfly/patternfly.css';
import { PageLayout } from '../components/PageLayout'
---

<Layout title="Welcome to Astro.">
	<PageLayout client:only>
		<main>
			<h1>Welcome to Astro</h1>
			<p>
				Welcome to Astro, a new kind of static site builder. Astro combines the best parts of modern build tools, like
				React and Vue, and the performance and developer experience of static sites.
			</p>
			<p>
				To get started, check out the <a href="https://docs.astro.build">Astro documentation</a>.
			</p>
		</main>
	</PageLayout>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
