---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@patternfly/patternfly/patternfly.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<button class="pf-v6-c-button pf-m-small pf-m-primary" type="button">
			<span class="pf-v6-c-button__text">Primary</span>
		</button>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
